body{
  background-image: url("../../assets/Images/start.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:100vh;
  overflow:auto;
}
<<<<<<< HEAD

=======
 
>>>>>>> f971f2824d17b484dc3da89a523e5779c1c35059
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  color: whitesmoke;
}
<<<<<<< HEAD

=======
 
>>>>>>> f971f2824d17b484dc3da89a523e5779c1c35059
h3{
  font-family: cursive;
  position: relative;
  margin: 0;
position: absolute;
right:38%;
bottom:57%;
font-size: xx-large;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  color: whitesmoke;
<<<<<<< HEAD

=======
 
>>>>>>> f971f2824d17b484dc3da89a523e5779c1c35059
}
h5{
  font-family: cursive;
  position: relative;
  margin: 0;
position: absolute;
right:35%;
bottom:40%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
  color: whitesmoke;
  
}
.c1 {
  font-size: 90px;
  overflow: hidden;
  color: whitesmoke;
}
<<<<<<< HEAD



=======
 
 
 
>>>>>>> f971f2824d17b484dc3da89a523e5779c1c35059
#button
{
    color:black;
  text-align: center;
  background-color:white;
  margin-left:450px;
  margin: 0;
position: absolute;
top: 50%;
right:45%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
height: 50px;
width: 130px;
border-radius: 12px;
font-size: medium;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
<<<<<<< HEAD

}



=======
 
}
 
 
>>>>>>> f971f2824d17b484dc3da89a523e5779c1c35059
