<body>
    
    <strong><h1 class="c1">LIBRION</h1></strong> 
    <div class="start">
  <h3> HELLO! I'M BOOKIEE</h3>
  <h6>I will help you to maintain all the librarians and books details digitally...Through me adding , updating and deleting librarians becomes easier to the admin...And the librarian can add,view and issue books.</h6>
  <button name="get started" class="btn btn-primary btn-lg" id="button" routerLink='home'>Get Started</button>
  <div class="box animate fadeInUp one"  >
    <img src="https://s3.favim.com/orig/42/adorable-aww-book-cute-glasses-Favim.com-361336.jpg" height=360px width=500px>
</div>
</div>
  <p>By tapping "get started",you agree to FOLLOW our instructions!!!!</p> 
  </body>
