<html>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <p  class="navbar-brand"   ><img src="../../assets/Images/ICON.gif" width="50" height="50" class="d-inline-block align-top" alt="">ONLINE LIBRARY</p>
            <ul class="nav">
              <li  class="active" ><a routerLink="**">HOME</a></li>
              <li ><a  >ADMIN</a></li>
              <li ><a routerLink="librarian" >ADD LIBRARIAN</a></li>
              <li ><a routerLink="viewlibrarian" > VIEW LIBRARIAN</a></li>
              <li ><a routerLink="back()" >LOGOUT</a></li>
            </ul>

          </div>

        </div>

      </nav>
<div id="templatemo_content_wrapper">

  <div id="templatemo_sidebar">

      <div class="sidebar_box">

            <h2>Announcements</h2>

            <div class="news_box">
                <a routerLink="libpage">Check the book properly before issuing and returning.</a>
                <p class="post_info">Posted on <span>February 28, 2021</span></p>
            </div>

            <div class="news_box">
                <a routerLink="libpage">Ensure the quality of the books.</a>
                <p class="post_info">Posted on  <span>February 28, 2021</span></p>
            </div>

            <div class="news_box">
                <a routerLink="libpage">Please go through our terms and conditions and follow it.</a>
                <p class="post_info">Posted on <span>February 28, 2021</span></p>
            </div>

        </div><div class="sidebar_box_bottom"></div>

        <div class="sidebar_box" class="side1">

           <h2>Library</h2>

            <div class="section_w250 float_l">

        <p class="para2">A library is a collection of materials, books or media that are easily accessible for use and not just for display purposes.
           </p>
           </div>

            <div class="cleaner"></div>

        </div><div class="sidebar_box_bottom"></div>

    </div> <!-- end of sidebar -->

    <div id="templatemo_content">

      <div class="content_box">

          <h2>Welcome to Library</h2>

            <p class="someclass">A digital library, also called an online library, an internet library, a digital repository, or a digital collection is an
              online database of digital objects that can include text, still images, audio, video, digital documents, or other digital media
              formats or a library accessible through the internet.
               </p>

          <div class="cleaner_h20"></div>

            <div class="image_fl">
              <img src="https://media.istockphoto.com/photos/online-library-or-elearning-concept-open-laptop-and-book-compilation-picture-id940972538?k=6&m=940972538&s=612x612&w=0&h=fGNxhZ4iWa3mj5vXaCp-OI3w0lIdkiqb_OikaXbjN7A=" alt="image" width=250px height=180px />
            </div>

            <div class="section_w250 float_r">

              <ul class="list_01">
                <h2>Benefits</h2>
                      <li>Integration of all records students</li>
                      <li>Manage the records systematically</li>
                      <li>One can genrate the reports</li>
                      <li>Manage all informations manually</li>
                      <li>Easy to maintain records</li>
                      <li>It leads to fast book entry</li>

                   </ul>

            </div>

          <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>

        <div class="content_box">

          <h2>FEATURES</h2>

            <div class="section_w250 float_l">
        <h3>All in one system</h3>
        <p class="para" >Deleting/Adding the librarian, Viewissued/add/delete books, Administration all integrated in one system</p>

            </div>

            <div class="section_w250 float_r" margin-top=0px>
        <h3>Security</h3>
        <p class="para1">Security Implementation through the use of username/password, no simultaneous logging in of one username, access level rights, limited attempts, and recording of transactions.</p>

            </div>


          <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>

    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>
<div id="container">
  <div id="content">
  </div>
  <footer>
    Copyrights © DLHS
  </footer>
</div>

</body>
</html>




