<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">ISSUE BOOK FORM</h1>
        </div>
 
    <div class="container">
            <div class="main">
                <div class="main-center">
                
                    <form  [formGroup]="issuebook" autocomplete="off">
                        
                        <div class="form-group">
                            <label for="Book Callno">Book Callno</label>
                                <div class="input-group">
                                    
                <input type="text" class="form-control" name="Book Callno" id="Book Callno"  placeholder="Format:A-2" [(ngModel)]="addissuebook.callno" formControlName="Callno" required  pattern="[A-Z]{1}[/-]{1}[0-9]*"/>
                <span class="issue" *ngIf="issuebook.controls['Callno'].errors?.required && issuebook.controls['Callno'].touched" >
                   BOOK CALLNO is required.
               </span>
               <span  class="issue" *ngIf="issuebook.controls['Callno'].errors?.pattern && issuebook.controls['Callno'].touched" >
                Invalid format.[Ex:A-2]
           </span>
                            </div>
                        </div>
 
 
                        <div class="form-group">
                            <label for= "Id">Student Id</label>
                                <div class="input-group">
                                    
                                    <input type="text" class="form-control" name="Student Id" placeholder="Format:2021001" [(ngModel)]="addissuebook.stu_id" formControlName="student" required  pattern="2021[0-9]{3}"/>
                                    <span class="issue" *ngIf="issuebook.controls['student'].errors?.required && issuebook.controls['student'].touched" >
                                        STUDENT-ID is required.
                                   </span>
                                   <span class="issue"  *ngIf="issuebook.controls['student'].errors?.pattern && issuebook.controls['student'].touched" >
                                    Invalid format.[Ex:2021001]
                               </span>
                                </div>
                        </div>
 
                        <div class="form-group">
                            <label for="studentname">Student Name</label>
                                <div class="input-group">
                                    
                                    <input type="text" class="form-control" name="Student Name" placeholder="Format:Sita" [(ngModel)]="addissuebook.stuname" formControlName="name" required  pattern="[a-zA-Z\s]*"/>
                                    <span class="issue" *ngIf="issuebook.controls['name'].errors?.required && issuebook.controls['name'].touched" >
                                        STUDENT NAME is required.
                                   </span>
                                   <span class="issue" *ngIf="issuebook.controls['name'].errors?.pattern && issuebook.controls['name'].touched" >
                                    Invalid format.[Ex:sita]
                               </span>
                                </div>
                        </div>
 
                        <div class="form-group">
                            <label for="phone number">Student Mobile</label>
                                <div class="input-group">
                                    
                                    <input type="text" class="form-control" name="Student Mobile" placeholder="Format:9123456123" [(ngModel)]="addissuebook.stu_phone" formControlName="mobile" required  pattern="[7-9]{1}[0-9]{9}"/>
                                    <span class="issue" *ngIf="issuebook.controls['mobile'].errors?.required && issuebook.controls['mobile'].touched" >
                                        STUDENT MOBILE is required.
                                   </span>
                                   <span  class="issue" *ngIf="issuebook.controls['mobile'].errors?.pattern && issuebook.controls['mobile'].touched" >
                                    Invalid format.[Ex:9123456123]
                               </span>
                                </div>
                        </div>
 
                        <p class="submit">  Complete the form to enable submit!! </p>
                        <button class="button" [disabled]="!issuebook.valid" (click)="AddIssueBook()">Issue Book</button>
                        
                        <button class="button float-right" (click)="back()">Back</button>
                        
                    </form>
                </div>
            </div>
        </div>
        <footer>Copyright © DLHS

        </footer>
    </body>
 
 
